
{% extends "homebase.html" %}
{% block slider %}
{% load static %}
<style>
    .hero-image-short {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("{% static 'images/hero.jpg' %}");
}
</style>
<div class="hero-image-short">
    <div class="hero-text-left">
        <h3><b>"Tüm ilanlar" </b> kategorisindesiniz</h3>
    </div>
    {% if request.user.is_authenticated %}
    {% else %}
    <div class="hero-text-right">
        <!--Eğer giriş/kayıt yapılmadıysa bu buton gösterilir-->
        <a class="btn btn-block" href="uyelik1.php" style="background-color:#004aad"><b
                style="color:white;">Kazanmaya
                başla</b></a>
        <!--****-->
    </div>
    {% endif %}
</div>
<!--content-->
<div class="container-lg">

    <div class="row">
        <!--filtre-->
        <div class="col-lg-4 col-md-5 col-12">
            <div class="vertical-card-div filtre" style="position: -webkit-sticky; position: sticky; top: 10%;">
                <form action="." method="get">
                {% include "ilan-filtre.html" %}
            </div>
        </div>
        <!--**filtre**-->


        <div class="col-lg-8 col-md-7 col-12">
            <!--sıralama-->
            <div class="row">
                <div class="col">
                    <select class="form-select  form-select" name="islem" id="kategori" onchange="this.form.submit()">
                        <option value="0" selected>Sırala</option>
                        <option value="1">En yeni ilan</option>
                        <option value="2">En eski ilan</option>
                        <option value="3">En çok teklif alan</option>
                        <option value="4">En az teklif alan</option>
                    </select>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="web geliştirici" aria-label="ara"
                            aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Ara</button>
                    </div>
                </div>
            </div>
        </form>
            <!--**sıralama**-->

            <!--ilanlar-->
            {% for i in ads %}
            {% for j in ads_kategori %}
            {% if i.id == j.ilan_id %}
            
            
            
            <div class="card">
                <h6 class="card-header">{{i.ilan_basligi}}
                </h6>
                <div class="card-body py-1">
                    <div class="row">
                        {% if i.İlan_gorseli %}
                            <div class="col-12 col-lg-2 text-center"><img src="{{i.İlan_gorseli.url}}" class="kategori-img">
                        {% else %}
                            <div class="col-12 col-lg-2 text-center"><img src="{% static 'images/dijital.png' %}" class="kategori-img">
                        {% endif %}
                        
                        </div>
                        <div class="col-12 col-lg-10">
                            <p class="card-text">
                               {{i.kisa_ilan_aciklamasi}}
                            </p>
                            <small class="card-text"><span class="detay">{{i.offer_much}} Teklif  | Deneyim: {{j.aranan_deneyim}} | 
                                İlan Ücretlendirmesi :{{j.ilan_ucretlendirmesi}}| İlan Kategorisi : {{j.ilan_calima_saati}}</span>
                                {% if ilan_yapma %}
                            
                             <b class="price"></b> | <img src="{% static 'images/fav.png' %}"
                                    alt="favori" style="max-width:20px;margin-bottom:5px;" class="yetenekler" type="button" id ="{{i.id}}"
                                    onmouseover="this.src= {% static 'images/fav-sari.png' %} ;"
                                    onmouseout="this.src= {% static 'images/fav.png' %} ;">
                                    {% else %}

                            {% endif %}
                            </small>
                            <a href="{% url 'adsoffer:adsshow' i.id %}" class="btn btn-sm apply-button btn-outline-primary">İncele</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            <!--**ilanlar**-->
        </div>
    </div>
</div>

<!--offcanvas filtre-->
<nav class="navbar navbar-light bg-light fixed-bottom mycanvas">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Detaylı arama</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span><img src="images/filter.png" style="width:40px"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% include "ilan-filtre.html" %}
            </div>
        </div>
    </div>
</nav>
<!--**offcanvas filtre**-->
<script>
    $(document).ready(function () {
    $(".yetenekler").click(function (event) {
     id = $(this).attr("id"),
    $.ajax({
      type: "POST",
      url: "/profile/favilanekle/",
      data: {
        id: id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      
    });
    return false; //<---- move it here
    });
    });
    </script>
{% endblock slider %}