
{% extends "homebase.html" %}
{% block slider %}
{% load static %}


<style>
  .hero-image-short{
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url("{% static 'images/banner_img.jpeg' %}");
  }
</style>

<div class="hero-image-short">
  <div class="hero-text-left">
      <h3 style="color:black"><b>"Tüm Uzmanlar" </b> kategorisindesiniz</h3>
  </div>
  <div class="hero-text-right">
      <!--Eğer giriş/kayıt yapılmadıysa bu buton gösterilir-->
      {% if request.user.is_authenticated %}
      {% else %}
      <a class="btn btn-block" href="{% url 'user_operations:register' %}" style="background-color:#004aad"><b
              style="color:white;">Kazanmaya
              başla</b></a>
      {% endif %}
      <!--****-->
  </div>
</div>
<!--content-->
<div class="container-lg">

  <div class="row">
      <!--filtre-->
      <div class="col-lg-3 col-md-5 col-12">
          <div class="vertical-card-div filtre" style="top: 10%;">
            <form action="." method="GET">
                {% csrf_token %}
              {% include "uzman-filtre.html" %}
              
          </div>
      </div>
      <!--**filtre**-->


      <div class="col-lg-9 col-md-7 col-12">
          <!--sıralama-->
          <div class="row">
              <div class="col">
                 
                 
                  <select class="form-select form-select" name="islem" id="kategori" onchange="this.form.submit()">
                      <option value="0" selected>Sırala</option>
                      <option value="1">En çok deneyimli</option>
                      <option value="2">En az deneyimli</option>
                      <option value="3">En yüksek puan</option>
                      <option value="4">Akıllı sıralama</option>
                  </select>
                
                  
              </div>
              <div class="col">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="web geliştirici" aria-label="ara"
                          aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ara</button>
                  </div>
              </div>
          </div>
        </form>

          <!--**sıralama**-->

          <!--uzmanlar-->
          <div class="row justify-content-center">
            
            {% for j in uzman2 %}
            {% for i in uzman %}
            {% if i.user_id != request.user.id %}
            
            
            
              {% if i.user_id == j.user_id %}
              
              <div class="col-lg-3 col-6 ">
                  <div class="card uzman-card">
                      {% if i.profil_img  %}
                      <a href="{% url 'profile:profileshow' i.id %}">
                      <img src="{{i.profil_img.url}}" class="card-img-top" alt="..."></a>
                      {% else %}
                      <a href="{% url 'profile:profileshow' i.id %}">
                      <img src="{% static 'images/hero.jpg' %}" class="card-img-top" alt="..."></a>
                      {% endif %}
                      <div class="card-body">
                          <h6 class="card-title">{{i.user_kategori}}</h6>
                          <h6 class="card-subtitle text-muted" style="font-size:13px;">{{i.isim_soyisim}}</h6>
                          <div class="kisisel-bilgiler">
                              <div style="display:inline;"><img src="{% static 'images/ikonlar/1.png' %}"><small>{{i.lokasyon}}</small>
                              </div>
                              <div style="display:inline;margin-left:5px;"><img
                                      src="{% static 'images/ikonlar/7.png' %}"><small>{{j.deneyim}}
                                  </small>
                              </div>
                          </div>
                          <p class="card-text uzman-text">{{i.on_bilgi}}
                            {% if ilan_yapma %}
                            {% else %}
                            <b class="price"></b> | <img src="{% static 'images/fav.png' %}"
                            class="yetenekler" type="button"  alt="favori" style="max-width:20px;margin-bottom:5px;" id="{{i.id}}"
                            onmouseover="this.src= {% static 'images/fav-sari.png' %} ;"
                            onmouseout="this.src= {% static 'images/fav.png' %} ;">
                            

                            {% endif %}
                          </p>
                      </div>
                  </div>
              </div>
            {% else %}
             {% endif %}
            {% else %}
              {% endif %}
             
            {% endfor %}
          {% endfor %}
        
          <!--**uzmanlar**-->
      



  
  


</div>
<br><br>
{% if uzman.has_other_pages %}

<nav  aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
{% if uzman.has_previous %}
<li class="page-item"><a class="page-link" href="?sayfa={{ uzman.previous_page_number }}">Geri</a></li>
{% else %}
<li class="page-item disabled">
<p class="disabled" ><span class="page-link">Geri</span></p></li>
{% endif %}
{% for i in uzman.paginator.page_range %}
{% if uzman.number == i %}
<li class="page-item"><a class="page-link"  href="?sayfa={{ i }}"><u>{{ i }}</u></a></li>
{% else %}
<li class="page-item"><a class="page-link"  href="?sayfa={{ i }}">{{ i }}</a></li>
{% endif %}
{% endfor %}
{% if uzman.has_next %}
<li class="page-item"><a class="page-link"  href="?sayfa={{ uzman.next_page_number }}">İleri</a></li>

{% else %}
<li class="page-item disabled">
  <p class="disabled"><span class="page-link">İleri</span></p></li>

{% endif %}
</ul>

</nav>

{% endif %}
</div>

</div>



</div>
<!--offcanvas filtre-->
<nav class="navbar navbar-light bg-light fixed-bottom mycanvas">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Detaylı arama</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span><img src="images/filter.png" style="width:40px"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              
          </div>
      </div>
  </div>
</nav>  


<script>
$(document).ready(function () {
$(".yetenekler").click(function (event) {
 id = $(this).attr("id"),
$.ajax({
  type: "POST",
  url: "/profile/favuserekle/",
  data: {
    id: id,
    csrfmiddlewaretoken: '{{ csrf_token }}'
  },
  
});
return false; //<---- move it here
});
});
</script>
{% endblock slider %}