<label for="kategori" class="form-label">Uzmanlık alanınız</label>
<select class="form-select" name="kategori" id="kategori">
    <option value="Tümü" selected>Tümü</option>
    {% for i in kategor %}
        <option value="{{i.kategory_ismi}}">{{i.kategory_ismi}}</option>
    {% endfor %}
</select>

<br>

<label for="lokasyon" class="form-label">Çalşmak istediğiniz lokasyon</label>
<select class="form-select" name="lokasyon" id="lokasyon">
    <option value="Tümü" >Tümü</option>
    {% for i in lokal %}
    {% if secim_sehir  ==  i.sehir_ismi %}
    {% else %}
    <option value="{{i.sehir_ismi}}">{{i.sehir_ismi}}</option>
    {% endif %}
    {% endfor %}
</select>

<br>
<label for="kategori" class="form-label">Aranan ilan tecrübesi</label>
<select class="form-select" name="deneyim" id="deneyimler">
    <option value="Tümü" >Tümü</option>
    {% for i in deneyimler %}
    {% if secim_deneyim == i.tecrube %}
    
    {% else %}
    <option value="{{i.tecrube}}">{{i.tecrube}}</option>
    {% endif %}
        
    {% endfor %}
</select>
<br>



<br>
<!--Eğer giriş/kayıt yapılmadıysa uyelik1.php sayfasına yönlendirir. Eğer giriş yapıldıysa kişiye uygun ilanlar gösterilir-->
<a href="uyelik1.php" title="Özgeçmişinize uygun ilanlar gösterilir"><small id="emailHelp"
        class="form-text text-muted">Bana uygun
        işleri göster</small></a>
<br><br>
<button type="submit"  class="btn w-100" style="background-color:#d5d6de;"><b>ARA</b></button>
